<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="header">
    <h1>Etsi ravintoloita</h1>
    </div>

    <div class="content">
        <p>Voit hakea ravintoloita esimerkiksi niiden nimen tai luokan perusteella. Käytä yhtä hakusanaa kerrallaan.</p>
        <form action="/find_restaurant" method="POST">
            Hakusana: <input type="text" placeholder="Hakusana" name="keyword">
        <button type="submit">Hae</button>
        </form>

        <div class="error">
            {% if errors %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {% if results is not none %}
            {% if results %}
                <h3>Hakutulokset:</h3>
                <ul>
                    {% for result in results %}
                    <li><a href="/restaurant/{{ result.id }}">{{ result.restaurant_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>Tällä haulla ei löytynyt ravintoloita.</p>
            {% endif %}
        {% endif %}
        <div class="link">
            <p><a href="/sorted_restaurants">Katso parhaat ravintolat arvostelujen perusteella</a></p>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/">Takaisin etusivulle</a></li>
        </ul>
    </nav>
    
</body>
