<style>
    #map {
        width: 800px;
        height: 500px;
        margin-bottom: 10px;
    }
    .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p {
    margin: 10px 0;
    padding: 0;
    }

</style>

<div class="container">
    <h1>Alueesi ravintolat</h1>
    <div id="map">
        {{ map | safe }}
    </div>
        {% if session.get("user_id") %}
            <p>Olet kirjautunut sisään.</p>
            <p></p>
            {% if not admin_status %}
                <a href="/admin_application">Hae ylläpitäjäksi</a>
            {% elif admin_status %}
                <p><b><a href="/new">Lisää uusi ravintola</a></b></p>
            {% endif %}
            <p><a href="/logout">Kirjaudu ulos</a></p>
        {% else %}
            <p><a href="/login">Kirjaudu sisään voidaksesi lisätä arvosteluja ja ravintoloita</a></p>
        {% endif %}
</div>
