<head>
    <title>Restaurants</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Parhaat ravintolat arvostelujen perusteella</h1>
    <table>
        <thead>
            <tr>
                <th>Ravintolan nimi</th>
                <th>Arvostelujen keskiarvo</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in listed_restaurants %}
            <tr>
                <td>{{ restaurant[1] }}</td>
                <td>{{ restaurant[2] | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <a href="/">Takaisin etusivulle</a>
</body>
</html>
