<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="header">
    <h1>Parhaat ravintolat arvostelujen perusteella</h1>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Ravintola</th>
                    <th>Arvostelujen keskiarvo</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in listed_restaurants %}
                <tr>
                    <td><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.restaurant_name }}</a></td>
                    <td>{{ restaurant[2] | round(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav>
        <ul>
            <li><a href="/">Takaisin etusivulle</a></li>
        </ul>
    </nav>

</body>
